/*Desktop*/

@media screen and (min-width: 1024px) {
    .home-div{
        display: flex;
        flex-direction: row;
        width: 100%;      
    }

    app-proyectos-john{
        width: 100%;
    }
}


