<div class="cuerpo-aside">
    <div class="personal-info">
        <img class="img-personal" [src]="imagenPersonal" alt="">
        <h1>
            John
        </h1>
        <h1>
            Navarro
        </h1>
         <br>
        <h3>
            Full Stack Web Developer
        </h3>
        <br>
    </div>
    <hr>
    <div class="lista">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About Me</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
</div>

