/* Mobile */

@media screen and (max-width: 480px) {

    .cuerpo-aside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(42, 38, 43, 0.904);
        color: #fff;
    }
    
    .img-personal{
        width: 5rem;
        height: 5rem;
        border-radius: 80px;
        
    }

    .lista{
        display: none;
    }

    .personal-info h1, h3{
        display: none;
    }

    .mobile-header{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-weight: 100;
    }
    
    h4{
        font-weight: 400;
    }

    
}

/* Desktop */

@media screen and (min-width: 1024px) {
    .cuerpo-aside{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 18em;
        background-color: rgba(42, 38, 43, 0.904);
        color: #fff;
    }
    
    .img-personal{
        width: 10em;
        height: 10em;
        border-radius: 80px;
    }
    
    .personal-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5em 0;
    }
    
    .personal-info h1{
        font-weight: 100;
        letter-spacing: 0.2em;
    }
    
    .personal-info h3{
        font-weight: 350;
        letter-spacing: 0.1em;
    }
    
    a{
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        font-size: large;
    }
    
    .lista{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5em 2em;
        padding: 2em 0;
    }
    
    li{
        margin-bottom: 1em;
    }

    .mobile-header{
        display: none;
    }
}




